body{
    background: #BDBDBD;
}



/*.jumbotron{
    background: url(../img/bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color:white !important;
    background-size: 100% 100%;
  }*/