<!-- your html code here -->
<div class="row bg-white py-4">
    <div class="col-4">
        <img class="rounded-circle img-fluid" src="assets/img/2.jpg">
    </div>
    <div class="col-8 d-flex flex-column align-items-center justify-content-center">
        <h1 class="fw-bold">This First Heading <span class="text-muted">Will Catch Your Eye</span></h1>
        <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisqie nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
    </div>
</div>